.button {
  background: $primary;
  border: none;
  border-radius: 0.4rem;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  padding: $small-size;
  text-decoration: none;
}

.button__link {
  background: none;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.button:disabled {
  opacity: .5;
}