.big-button {
  background: $tomato-red;
  border: none;
  border-bottom: solid .8rem darken($tomato-red, 10%);
  margin-bottom: $large-size;
  width: 100%;
  height: 6.0rem;
  font-size: $large-size;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 0.4rem;
  // border-bottom: .6rem solid lighten($do-blue, 30%);
}

.big-button:disabled {
  opacity: .5;
}

.button {
  background: $tomato-red;
  border: none;
  border-bottom: solid .4rem darken($tomato-red, 10%);
  color: #FFFFFF;
  font-weight: 500;
  padding: $small-size;
  border-radius: 0.4rem;
}

.button--link {
  background: none;
  border: none;
  color: $salmon-red;
  background: $smoky-gray;
  border-radius: 0.2rem;
  padding: 0.7rem;
  border-bottom: solid 0.3rem $light-gray;
}