.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $small-size;
  }
}

.form__error {
  background: #ffdfe5;
  color: #d81b1b;
  font-size: 1.3rem;
  font-style: italic;
  margin: 0 0 $medium-size 0;
  padding: $small-size;
  text-align: center;
  transition: background .3s ease-in;
}