.header {
  background: $success;
}

.header__title {
  color: #FFF;
  font-size: $font-size-large;
  margin: 0;
  text-decoration: none;
  h2 {
    margin: 0;
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: 0;
  }
}