* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;

}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.pull-right {
  float: right;
}

.is-active {
  font-weight: bold;
}