// COLORS
$dark: #444;
$primary: #2087e6;
$success: #06800e;
$light: #f6f6f6;

// SPACING
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 2.8rem;
$xlarge-size: 4.8rem;
$desktop-breakpoint: 45rem;